/*------------------------------------------------------------------
Project: FolioGPT 
Last change: 10/04/2026
------------------------------------------------------------------ */
/*-----------------------[Table of contents]------------------------
1.Default CSS
2.Preloader CSS
3.Dark Light Mode toggle CSS
4.Home Section CSS 
5.Input Box CSS
6.Input Popup Menu CSS
7.Chat UI CSS Start
8.About Section CSS
9.Services Section CSS
10.Project Section CSS
11.Pricing Section CSS
12.Faq Section CSS
13.Conatct Section CSS
14.Awards Section CSS
15.Hobbies Section CSS
16.Skill Section
17.Language Skill and Coding Skill
------------------------------------------------------------------ */
/*-----------------------[ 1.Default CSS ]------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Bricolage Grotesque", sans-serif;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
a {
    text-decoration: none;
}
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0rem;
}
ul {
    padding-left: 0;
}
ul li {
    list-style: none;
}
button {
    border: none;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-corner {
    display: none;
}
::-webkit-scrollbar-thumb {
    background: transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
button {
    background: transparent;
}
body {
    background: var(--primary-color);
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    max-width: 860px !important;
    background: var(--container-color);
    padding: 0 20px;
}
:root {
    --primary-color: #F3F3F3;
    --container-color: #FFFFFF;
    --text-color: #000000;
    --sub-text: #515151;
    --border-colors: #000000;
    --linear-gradient: linear-gradient(180deg,
            rgba(0, 0, 0, 0.15) 0%,
            rgba(0, 0, 0, 0.25) 100%);
    --icons-filter: brightness(0) saturate(100%) invert(0%) sepia(94%) saturate(7500%) hue-rotate(340deg) brightness(97%) contrast(106%);
    --skill-dots: #E5E5E5;
}
.dark-mode {
    --primary-color: #101010;
    --container-color: #000000;
    --text-color: #FFFFFF;
    --sub-text: #969696;
    --border-colors: #303030;
    --linear-gradient: linear-gradient(180deg,
            rgba(255, 255, 255, 0.15) 0%,
            rgba(255, 255, 255, 0.25) 100%);
    --icons-filter: brightness(0) saturate(100%) invert(99%) sepia(15%) saturate(85%) hue-rotate(344deg) brightness(111%) contrast(100%);
    --skill-dots: #595959;
}
/*-----------------------[ 3.Background Animation]------------------------*/
body {
    overflow-x: hidden;
    background: url("../images/home/extracted_image.png") repeat 0 0;
    background-attachment: fixed;
    -webkit-animation: bg-scrolling-reverse 0.92s infinite;
    -moz-animation: bg-scrolling-reverse 0.92s infinite;
    -o-animation: bg-scrolling-reverse 0.92s infinite;
    animation: bg-scrolling-reverse 0.92s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
body.dark-mode {
    background: url("../images/home/Background-image.png") repeat 0 0;
    background-attachment: fixed;
}
@-webkit-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling-reverse {
    100% {
        background-position: 50px 50px;
    }
}
@-webkit-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-moz-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@-o-keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
@keyframes bg-scrolling {
    0% {
        background-position: 50px 50px;
    }
}
/*-----------------------[ 2.Preloader CSS ]------------------------*/
.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    overflow: hidden;
    z-index: 99999;
    background: var(--container-color);
}
.spinner {
    width: 88px;
    height: 88px;
    animation: spinner-y0fdc1 2s infinite ease;
    transform-style: preserve-3d;
}
.spinner>div {
    background-color: rgba(0, 194, 255, 0.13);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 2px solid #00C2FF;
}
.spinner div:nth-of-type(1) {
    transform: translateZ(-44px) rotateY(180deg);
}
.spinner div:nth-of-type(2) {
    transform: rotateY(-270deg) translateX(50%);
    transform-origin: top right;
}
.spinner div:nth-of-type(3) {
    transform: rotateY(270deg) translateX(-50%);
    transform-origin: center left;
}
.spinner div:nth-of-type(4) {
    transform: rotateX(90deg) translateY(-50%);
    transform-origin: top center;
}
.spinner div:nth-of-type(5) {
    transform: rotateX(-90deg) translateY(50%);
    transform-origin: bottom center;
}
.spinner div:nth-of-type(6) {
    transform: translateZ(44px);
}
@keyframes spinner-y0fdc1 {
    0% {
        transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }
    50% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }
    100% {
        transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
}
/*-----------------------[ 3.Dark Light Mode toggle CSS ]------------------------*/
.ul-header a {
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}
.icon {
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.8s ease;
    filter: var(--icons-filter);
}
.icon.hidden {
    opacity: 0;
}
.dark-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 45px;
    height: 45px;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    border: 2px solid var(--text-color);
    border-bottom: 5px solid var(--text-color);
    background: var(--container-color);
}
/*-----------------------[ 4.Home Section CSS ]------------------------*/
.home-section {
    padding-top: 80px;
    flex: 1;
}
.main-container {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
    height: 100vh;
    background: var(--container-color);
    position: relative;
    overflow: hidden;
    padding: 0 50px 16px;
    display: flex;
    flex-direction: column;
}
.blur-effect-bottom {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 5;
    max-width: 860px;
    margin: 0 auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -webkit-mask: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black)) add;
    -webkit-mask: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, black 100%) add;
    mask: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black)) add;
    mask: linear-gradient(0deg, rgba(0, 0, 0, 0.008) 0%, black 100%) add;
}
.hangImg {
    position: absolute;
}
.hangImg1 {
    top: -60px;
    left: 10px;
    animation: floatRotate 50s infinite linear;
    z-index: 0;
}
.hangImg2 {
    bottom: 220px;
    right: -40px;
    animation: floatRotate 60s infinite linear;
    z-index: 0;
}
@keyframes floatRotate {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-20px) rotate(180deg);
    }
    100% {
        transform: translateY(0px) rotate(360deg);
    }
}
.profile-name {
    color: var(--text-color);
    font-size: 90px;
    font-weight: 700;
    text-align: center;
    transition: all 0.4s ease;
}
.profile-img-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.profile-img-main img {
    max-width: 100%;
    border-radius: 50%;
    width: 200px;
}
.typing-text-main {
    margin-top: -25px;
}
.typing-text {
    color: var(--3, #ffffff);
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    height: 44px;
    background: var(--linear-gradient);
    border-radius: 22px;
    padding: 10px 20px;
    backdrop-filter: blur(8px);
    width: max-content;
}
.typed-cursor {
    display: none;
}
.sub-text-hero {
    color: var(--sub-text);
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    position: relative;
    z-index: 1;
}
.help-text {
    color: var(--1, #00C2FF);
    text-align: center;
    font-size: 48px;
    line-height: 64px;
    font-weight: 400;
    position: fixed;
    bottom: 180px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
/*-------------[ 5.Input Box CSS ]--------------*/
.chat-layout {
    flex-shrink: 0;
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: var(--container-color);
}
.input-box {
    display: flex;
    align-items: center;
    border: 2px solid var(--border-colors);
    border-bottom: 6px solid var(--border-colors);
    border-radius: 50px;
    background: var(--container-color);
    padding: 6px;
}
.input-box input {
    display: block;
    width: 100%;
    border: none;
    padding: 0 15px;
    outline: none;
    background: var(--container-color);
    color: var(--text-color);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.input-box .menu-btn {
    border: none;
    padding: 6px 13px;
    background: var(--10, #f3f3f3);
    color: var(--6, #000000);
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 30px;
}
.input-box .menu-btn i {
    font-size: 24px;
}
.send {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #00C2FF;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.send i {
    font-size: 24px;
    font-weight: 500;
}
.input-wrapper {
    position: relative;
    flex: 1;
    overflow: hidden;
}
.fake-placeholder {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    gap: 6px;
    pointer-events: none;
    color: #999;
    font-size: 14px;
}
#fakePlaceholder {
    opacity: 1;
    transition: opacity 0.3s ease;
}
#fakePlaceholder.hidden {
    opacity: 0;
}
.prefix {
    white-space: nowrap;
    color: var(--sub-text);
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.slider {
    height: 24px;
    overflow: hidden;
}
.slide-track {
    display: flex;
    flex-direction: column;
    animation: slideText 20s infinite;
}
.slide-track span {
    height: 20px;
    color: var(--text-color);
    text-align: left;
    font-size: 16px;
    font-weight: 500;
}
@keyframes slideText {
    0%,
    5% {
        transform: translateY(0);
    }
    7%,
    12% {
        transform: translateY(-20px);
    }
    14%,
    19% {
        transform: translateY(-40px);
    }
    21%,
    26% {
        transform: translateY(-60px);
    }
    28%,
    33% {
        transform: translateY(-80px);
    }
    35%,
    40% {
        transform: translateY(-100px);
    }
    42%,
    47% {
        transform: translateY(-120px);
    }
    49%,
    54% {
        transform: translateY(-140px);
    }
    56%,
    61% {
        transform: translateY(-160px);
    }
    63%,
    68% {
        transform: translateY(-180px);
    }
    70%,
    75% {
        transform: translateY(-200px);
    }
    77%,
    82% {
        transform: translateY(-220px);
    }
    84%,
    89% {
        transform: translateY(-240px);
    }
    91%,
    96% {
        transform: translateY(-260px);
    }
    100% {
        transform: translateY(0);
    }
}
/*---------------[ 6.Input Popup Menu CSS ]--------------*/
.menu-popup {
    position: absolute;
    bottom: 150px;
    left: 50px;
    width: 100%;
    z-index: 5;
    max-width: 190px;
    background: var(--container-color);
    border: 2px solid var(--text-color);
    border-bottom: 6px solid var(--text-color);
    border-radius: 24px;
    padding: 16px;
    display: none;
    animation: popup 0.3s ease;
}
.menu-popup.active {
    display: block;
}
.menu-popup li {
    padding: 12px 0;
    border-bottom: 2px solid var(--primary-color);
    cursor: pointer;
    color: var(--text-color);
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
}
.menu-popup li span {
    color: var(--sub-text);
    text-align: left;
    font-weight: 400;
    transition: all 0.3s ease-in-out;
}
.menu-popup li:hover {
    color: #00C2FF;
}
.menu-popup li:hover span {
    color: #00C2FF;
}
.menu-popup li:last-child {
    border: none;
}
@keyframes popup {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.sma-menu-main p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: var(--sub-text);
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
.sma-menu-main i {
    color: var(--sub-text);
    font-size: 20px;
}
/*-----------------------[ 7.Chat UI CSS Start ]------------------------*/
.chat-screen {
    width: 100%;
    flex: 1;
    overflow-y: auto;
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 45px 0px 20px 0;
}
.chat-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.user-msg {
    align-self: flex-end;
    background: var(--1, #00c2ff);
    padding: 8px 16px;
    border-radius: 12px 6px 12px 12px;
    max-width: 70%;
    color: var(--5, #ffffff);
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    text-transform: capitalize;
}
.bot-msg {
    display: flex;
    align-items: flex-start;
}
.bot-msg .avtar-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.bot-text {
    padding-left: 16px;
    max-width: 90%;
    width: 100%;
    color: var(--text-color);
}
.chatloader {
    width: 40px;
    height: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg,
            #ff6b6b,
            #feca57,
            #48dbfb,
            #1dd1a1,
            #5f27cd,
            #ff6b6b);
    background-size: 300% 100%;
    animation: loading 1.2s infinite linear;
}
@keyframes loading {
    0% {
        background-position: 0% 0;
    }
    100% {
        background-position: 100% 0;
    }
}
/*-----------------------[ 8.About Section CSS ]------------------------*/
#botData {
    display: none;
}
.sect-text {
    color: var(--sub-text);
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Andika", sans-serif;
    padding-bottom: 16px;
}
.suggestions-sec {
    color: var(--text-color);
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    font-family: "Andika", sans-serif;
}
.suggestions-sec span {
    cursor: pointer;
}
.about-list-main li {
    color: var(--text-color);
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    display: flex;
    align-items: stretch;
    gap: 12px;
    margin-bottom: 12px;
    font-family: "Andika", sans-serif;
}
.about-list-main i {
    font-size: 24px;
    color: var(--text-color);
}
/*-----------------------[ 9.Services Section CSS ]------------------------*/
.servics-box {
    padding: 16px 0;
    border-bottom: 2px solid var(--primary-color);
}
.service-main-text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Andika", sans-serif;
    color: var(--sub-text);
    padding-bottom: 7px;
}
.service-main-text span {
    color: var(--text-color);
    font-weight: 700;
}
.rafti {
    padding-bottom: 6px;
}
.exprtise {
    color: var(--sub-text);
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
}
/*-----------------------[ 10.Project Section CSS ]------------------------*/
.sect-text span {
    color: var(--text-color);
    font-weight: 700;
}
.project-name-number {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    color: var(--sub-text);
    font-family: "Andika", sans-serif;
}
.project-name-number span {
    color: var(--text-color);
    font-weight: 700;
}
.project-box {
    padding: 12px;
    border-radius: 12px;
    border: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    gap: 24px;
    margin: 16px 0;
}
.thumbnail {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.4s ease;
}
.thumbnail:hover img {
    transform: scale(1.05);
}
.vimeo-img {
    width: 30px !important;
    height: 30px !important;
}
.project-title {
    color: var(--text-color);
    font-family: "Andika", sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    padding-bottom: 16px;
}
.project-dicribation {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0;
    margin-bottom: 16px;
}
.preview-link {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: #00c2ff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    transition: color 0.2s;
}
.preview-link i,
.next-link i,
.form-btn i {
    font-size: 24px;
    color: #00c2ff;
}
.thumb-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.18);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.25s;
}
.thumbnail:hover .thumb-overlay {
    background: rgba(0, 0, 0, 0.30);
}
.play-btn {
    width: 48px;
    height: 48px;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0.1) 100%);
    backdrop-filter: blur(6px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}
.play-btn i {
    color: #FFF;
    font-size: 24px;
}
.thumbnail:hover .play-btn {
    transform: scale(1.1);
}
.next-link,
.form-btn {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: var(--1, #00c2ff);
    font-family: "Andika", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
}
/*-----------------------[ 11.Pricing Section CSS ]------------------------*/
.plan-name {
    font-family: "Andika", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: var(--text-color);
    padding-bottom: 12px;
}
.plan-name span {
    color: var(--1, #00c2ff);
}
.plan-box-main {
    padding: 16px 0;
    border-bottom: 2px solid var(--primary-color);
}
.pricing-list-main li {
    color: var(--sub-text);
    font-family: "Andika", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 8px;
}
.pricing-list-main li::before {
    content: url(../images/svg/duble-check.svg);
    height: 24px;
}
.dark-mode .pricing-list-main li::before {
    content: url(../images/svg/duble-check-white.svg);
    height: 24px;
}
.contact-let-conn button {
    color: #00C2FF;
    cursor: pointer;
    font-weight: 700;
}
/*-----------------------[ 12.Faq Section CSS ]------------------------*/
.faq-box {
    padding: 12px 0;
    border-bottom: 2px solid var(--primary-color);
}
.faq-main-text {
    color: var(--text-color);
    font-family: "Andika", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    padding-bottom: 8px;
}
/*-----------------------[ 13.Conatct Section CSS ]------------------------*/
.cont-contain-main p {
    color: var(--text-color);
    font-family: "Andika", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.cont-contain-main i {
    font-size: 24px;
}
.contact-media-main {
    padding: 24px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}
.contact-media-main li a {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}
.contact-media-main li a:hover {
    background: #00C2FF;
}
.contact-media-main img {
    filter: var(--icons-filter);
}
.contact-media-main li:hover img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(98%) saturate(0%) hue-rotate(344deg) brightness(101%) contrast(101%);
}
.form-send-text {
    font-size: 30px;
    line-height: 40px;
    color: #000;
    font-weight: 600;
    font-family: "Andika", sans-serif;
}
.chan {
    color: #515151;
    font-family: "Andika", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding-bottom: 15px;
}
.form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 10;
}
.form-overlay.active {
    opacity: 1;
    visibility: visible;
}
.form-modal {
    background: #FFF;
    padding: 30px;
    border-radius: 12px;
    width: 100%;
    max-width: 450px;
    position: relative;
}
.form-modal input,
.form-modal select,
.form-modal textarea {
    width: 100%;
    margin-bottom: 12px;
    padding: 10px;
    border: 2px solid #51515121;
    border-radius: 6px;
    outline: none;
}
label {
    font-family: "Andika", sans-serif;
    padding-bottom: 8px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}
.submit-btn {
    width: 100%;
    padding: 10px;
    background: #00C2FF;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    font-weight: 500;
}
.close-btn {
    position: absolute;
    top: -2px;
    right: 20px;
    color: #00C2FF;
    font-size: 40px;
    cursor: pointer;
}
/*-----------------------[ 14.Awards Section CSS ]------------------------*/
.nominee-box {
    padding: 12px 0;
    border-bottom: 2px solid var(--primary-color);
    display: flex;
    align-items: center;
    gap: 40px;
}
.nominee-box h3 {
    color: var(--sub-text);
    font-family: "Andika", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
}
.nominee-box p {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    font-family: "Andika", sans-serif;
    color: var(--sub-text);
}
.nominee-box p span {
    color: var(--text-color);
    font-weight: 700;
}
/*-----------------------[ 15.Hobbies Section CSS ]------------------------*/
.hobbies-box {
    padding: 12px 0;
    border-bottom: 2px solid var(--primary-color);
}
.hobbies-box .sect-text {
    padding-bottom: 0;
}
.hobbies-box h3 {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-color);
    font-family: "Andika", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    padding-bottom: 8px;
}
.hobbies-box img {
    filter: var(--icons-filter);
}
.fade-box {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.4s ease forwards;
}
@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*-----------------------[ 16.Skill Section ]------------------------*/
.skill-detail {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}
.skill-box {
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    border: 2px solid var(--primary-color);
    padding: 16px;
}
.name-image-box {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.name-image-box span {
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    color: var(--text-color);
}
.mega-counter {
    font-size: 40px;
    font-weight: normal;
    font-family: "Andika", sans-serif;
    line-height: 40px;
    color: var(--main-text);
}
.skill-name-design {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-top: 15px;
    gap: 5px;
}
.skill-name-design p {
    font-size: 24px;
    font-weight: normal;
    font-family: "Andika", sans-serif;
    line-height: 32px;
    color: var(--main-text);
}
.skill-name-design span {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    color: var(--text-color);
    font-family: "Andika", sans-serif;
}
/*-----------------------[ 17.Language Skill and Coding Skill ]------------------------*/
.skill-header {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 12px 0;
    border-bottom: 2px solid var(--primary-color);
}
.skill-header span:first-child {
    min-width: 90px;
}
.percent {
    min-width: 50px;
}
.dots {
    display: flex;
    align-items: center;
    gap: 12px;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--skill-dots);
}
.dot.active {
    background: var(--text-color);
}